form {
  text-align: center;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 60px 0 0 0;
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
  background: #383c44;
  font-family: sans-serif;
}

.login-box {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-box {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #555;
}

button[type="submit"] {
  display: block;
  width: 100%;
  background-color: #0080FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0073E6; 
}

button[type="submit"]:focus {
  outline: none;
}