<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Axon2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="inicio.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>

        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="text-white bg-dark" href="#">Axon2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="text-white bg-dark nav-link" href="inicio/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white bg-dark nav-link" href="paquetes/">Paquetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white bg-dark nav-link" href="nosotros/">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white bg-dark nav-link" href="contacto/">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Carrusel de imágenes -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://raw.githubusercontent.com/Extren11/proyecto/main/Imagenes/image.jpg" class="d-block w-100" alt="Imagen 1">
                    <div class="top carousel-caption d-none d-md-block">
                        <br>
                        <br>
                        <h5>¡Protege tu organización!</h5>
                        <p></p> 
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://github.com/Extren11/proyecto/blob/main/Imagenes/carrusel1.jpg?raw=true" class="d-block w-100" alt="Imagen 2">
                    <div class="carousel-caption d-none d-md-block">
                        <br>
                        <br>
                        <h5>Con un equipo especializado en la seguridad de tu compañía</h5>
                        <p>Capaces de llevar al límite tu infraestructura tecnológica</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://raw.githubusercontent.com/Extren11/proyecto/main/Imagenes/13-11-2018-ciberseguridad-grande.jpg" class="d-block w-100" alt="Imagen 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Preparate para poner a prueba tus sistemas</h5>
                        <p>¡selecciona un paquete!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
            <br>
            
            

            <div class="row">
                <div class="col-sm-6">
                  <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">Seguridad Ofensiva</h5>
                      <p class="card-text">La seguridad ofensiva es una variante de la ciberseguridad que consiste en intentar atacar las medidas de seguridad de tu organización como lo haría un ciberdelincuente y de esa manera detectar las vulnerabilidades antes de que sucediera de verdad</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Respuesta ante incidentes de alta complejidad</h5>
                      <p class="card-text">La respuesta a incidentes es la reacción a un ataque cibernético donde se identifica a los actores de la amenaza, intenta contener el incidente de seguridad, erradicarlo de la red y luego concentrarse en recuperar el sistema o la red después del ataque</p>
                    </div>
                  </div>
                </div>
              </div>

    

        <!-- Pie de página -->
        <footer class="bg-light text-center py-3">
            <p>© 2023 Axon2. Todos los derechos reservados.</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>